nav{
    background-image: url(./images/prices.jpg);
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 70px;
    position: sticky;
}
.navbar-brand{
    font-size: 500px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}
.navbar-nav{
    color: black;
}
.sector-2 img{
    height: 28rem;
    padding-top: 10px;
}
.sector-2 p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    padding-top: 20px;
    color: blue;
}
.sector-2{
   padding: 80px 80px;
   margin-top: 50px;
   display: flex;
   color: black;
}
.sector{
    padding-top: 40px;
}
article{
    background-image: url(./images/africa.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 35rem;
    background-color: white;
    border-radius: 50px;
    box-shadow: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
    /* display: flex; */
} 
.choice{
    margin-top: 50px;
    margin-right: 90px;
}
.carousel-inner img{
 max-height: 400px;
}
form{
    /* height: 14rem; */
    /* padding-top: 40px; */
    color: red;
}
 form:hover{
    text-decoration: none;

 }
form h6{
    font-family: 'Times New Roman', Times, serif;
    /* font-size: 15px; */
    /* padding-bottom: 10px; */
}

 footer{
    background-color: rgb(3, 22, 22);
    height: 25rem;
    /* width: 100%; */
    margin-top: 5px;
    padding: 10px;
}
.roll-three{
    display: flex;
    margin-top: 30px;
    color: white;
}
.roll-seven h3 img{
    height: 50px;
    
}
.mute-1{
    display: flex;
    padding-top: 20px;
}
.mute-1 h4{
    padding-right: 10px;
}
.mute-2{
   display: flex;
   padding-top: 15px;
}
.mute-2 h4{
    padding-right: 10px;
}
.mute-3{
    display: flex;
    padding-top: 15px;
}
.mute-3 h4{
    padding-right: 10px;
}
.roll-four{
     padding-top: 50px; 
    /* padding-right: 30px; */
    padding-left:70px; 
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.roll-five{
    padding: 50px;
} 
@media(max-width:710px) and (min-width:467px) {
    .container{
       max-width: 540px;
    }
    /* .col img{
    height: 15rem;
    } */
    nav{
        background-image: url(./images/prices.jpg);
        height: 200px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .navbar-brand{
        font-size: 500px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: black;
    }
    .navbar-nav{
        color: black;
    }
    section{
        margin-top: 50px;
        height: 20rem;
        margin-bottom: 10px;
        /* background-color: blueviolet; */
        /* display: flex; */
        /* padding: 50px; */
    }
    .choice{
        margin-top: 50px;
        margin-right: 90px;
    }
    .carousel-inner img{
     max-height: 500px;
    }
    .sector{
        padding-top: 20px;
    }
    .sector-2{
        /* padding: 20px; */
        /* height: 20rem; */
         /* display: flex; */
        /* flex-wrap: wrap; */
         padding-top: 100px;
        margin-top: 30px; 
        /* color: black; */
        /* background-color: aqua; */
    }
    .sector-2 h1{
        color: red;
        padding: 30px;
        font-size: 50px;
    }
    .sector-2 p{
       color: black;
       padding: 20px;
       font-size: 20px;
       font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .sector-2 img{
        height: 26rem;
        padding-top: 40px;
    }
    article{
        background-image: url(./images/africa.png);
        background-repeat: no-repeat;
        background-size: contain;
        height: 50rem;
        background-color: white;
        border-radius: 50px;
        box-shadow: 10px;
        margin-bottom: 40px;
    }
    .sector{
        /* height: 14rem; */
        /* padding-top: 50px; */
        color: red;
    }
     form:hover{
        text-decoration: none;

     }
    form h6{
        font-family: 'Times New Roman', Times, serif;
        font-size: 15px;
        padding-bottom: 10px;
    }
    footer{
        background-color: rgb(3, 22, 22);
        height: 35rem;
        width: 100%;
        /* margin-top: 5px;
        padding: 10px; */
        display: flex;
        flex-wrap: wrap;
    }
    .roll-three{
        /* display: flex;
        flex-wrap: wrap; */
        margin-top: 30px;
        color: white;
    }
    .roll-seven h3 img{
        height: 50px;
        
    }
    .mute-1{
        display: flex;
        padding-top: 20px;
    }
    .mute-1 h4{
        padding-right: 10px;
    }
    .mute-2{
       display: flex;
       padding-top: 15px;
    }
    .mute-2 h4{
        padding-right: 10px;
    }
    .mute-3{
        display: flex;
        padding-top: 15px;
    }
    .mute-3 h4{
        padding-right: 10px;
    }
    .roll-four{
        /* padding-right: 30px; */
        padding-top: 50px;
        padding-left: 40px;
    }
    .A{
        padding-bottom: 10px;
    }
    .roll-five{
        color: aqua;
    }
    .roll-five a{
       text-decoration: none;
       margin: 10px;
    }
    .roll-five a:hover{
        text-decoration: underline;
    }
}
@media(max-width:990px) and (min-width:711px){
    .container{
        max-width: 720px;
    }
    nav{
        background-image: url(./images/prices.jpg);
        height: 200px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .navbar-brand{
        font-size: 500px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: black;
    }
    .navbar-nav{
        color: black;
    }
    section{
        margin-top: 50px;
        height: 25rem;
        margin-bottom: 10px;
        font-family: cursive;
        font-size: 30px;
        color: crimson;
    }
    .choice{
        margin-top: 50px;
        margin-right: 90px;
    }
    .carousel-inner img{
     max-height: 500px;
    }
    /* .col img{
        height: 15rem;
    } */
    .sector-2 img{
        height: 28rem;
        padding-top: 40px;
    }
    .sector-2 p{
        font-family: 'Times New Roman', Times, serif;
        font-size: larger;
        padding-top: 30px;
    }
    .sector-2{
       padding: 100px 50px;
       margin-top: 50px;
       display: flex;
       color: black;
    }
    .sector{
        padding-top: 60px;
    }
    article{
        background-image: url(./images/africa.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 40rem;
        background-color: white;
        border-radius: 50px;
        box-shadow: 10px;
        margin-top: 50px;
        margin-bottom: 50px;
        /* display: flex; */
    } 
    .sector{
        /* height: 14rem; */
        /* padding-top: 40px; */
        color: red;
        padding-bottom: 70px;
    }
     form:hover{
        text-decoration: none;
    
     }
    form h6{
        font-family: 'Times New Roman', Times, serif;
        font-size: 15px;
        /* padding-bottom: 10px; */
    }
    footer{
        background-color: rgb(3, 22, 22);
        height: 400px;
        /* width: 100%; */
        margin-top: 5px;
        padding: 10px;
    }
    .roll-three{
        display: flex;
        margin-top: 30px;
        color: white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .roll-seven h3 img{
        height: 50px;
        
    }
    .mute-1{
        display: flex;
        padding-top: 20px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .mute-1 h4{
        padding-right: 10px;
    }
    .mute-2{
       display: flex;
       padding-top: 15px;
    }
    .mute-2 h4{
        padding-right: 10px;
    }
    .mute-3{
        display: flex;
        padding-top: 15px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .mute-3 h4{
        padding-right: 10px;
    }
    .roll-four{
        padding-top: 30px;
        /* padding-right: 300px; */
        padding-left: 50px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    .roll-five{
        padding: 50px;
        font-family: fantasy;
    }
}
@media(max-width:1200px) and (min-width:989px){
    .container{
        max-width: 1140px;
    }
    nav{
        background-image: url(./images/prices.jpg);
        height: 200px;
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 70px;
    }
    .navbar-brand{
        font-size: 500px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: black;
    }
    .navbar-nav{
        color: black;
    }
    .sector-2 img{
        height: 28rem;
        padding-top: 40px;
    }
    .sector-2 p{
        font-family: 'Times New Roman', Times, serif;
        font-size: larger;
        padding-top: 30px;
    }
    .sector-2{
       padding: 100px 50px;
       margin-top: 50px;
       display: flex;
       color: black;
    }
    .sector{
        padding-top: 150px;
    }
    article{
        background-image: url(./images/africa.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 40rem;
        background-color: white;
        border-radius: 50px;
        box-shadow: 10px;
        margin-top: 50px;
        margin-bottom: 50px;
        /* display: flex; */
    } 
    .choice{
        margin-top: 50px;
        margin-right: 90px;
    }
    .carousel-inner img{
     max-height: 500px;
    }
    
     footer{
        background-color: rgb(3, 22, 22);
        height: 400px;
        width: 100%;
        margin-top: 5px;
        padding: 10px;
    }
    .roll-three{
        display: flex;
        margin-top: 30px;
        color: white;
    }
    .roll-seven h3 img{
        height: 50px;
        
    }
    .mute-1{
        display: flex;
        padding-top: 20px;
    }
    .mute-1 h4{
        padding-right: 10px;
    }
    .mute-2{
       display: flex;
       padding-top: 15px;
    }
    .mute-2 h4{
        padding-right: 10px;
    }
    .mute-3{
        display: flex;
        padding-top: 15px;
    }
    .mute-3 h4{
        padding-right: 10px;
    }
    .roll-four{
         padding-top: 50px; 
        padding-right: 70px;
        padding-left: 30px; 
    }
    
    .roll-five{
        padding: 50px;
    } 
}